*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

.calculator-container{
    background-color: black;
    border-radius: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.display-container{
    background-color: black;
    /* border: 1px solid white; */
    color: white;
    font-size: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 80%;
    height: 25%;
    margin-top: 40px;
}

#display-operations, #display-result{
    /* border: 2px solid white; */
}

.buttons-container{
    background-color: black;
    /* border: 1px solid white; */
    width: 80%;
    height: 60%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 35px;
}

.button{
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 35px;
    cursor: pointer;
    transition: transform 0.1s;
}

.button:hover{
    transform: scale(1.15);
}

.button:active{
    transform: scale(1);
}

.number{
    background-color: rgb(33, 126, 128);
    color: white;
}

.operator, #res{
    background-color: rgb(0, 200, 210);
    color: white;
}

.extra{
    background-color: rgb(195, 195, 195);
    color: black;
}
