body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.8s;
}

.white-text{color: white;}
.black-text{color: black;}
.light-off{background-color: black;}
.light-on{background-color: white;}
.background-off{background-color: red;}
.background-on{background-color: green;}

#toggle-me-text{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;  
    transition: color 0.8s;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
}

.round-sides{
    border-radius: 100%;
    width: 50%;
}

#middle-rectangle{
    position: absolute;
    width: 50%;
}

.toggle-background{
    height: 100%;
    transition: background-color 0.3s;
}

#toggle-circle{
    position: absolute;
    width: 40%;
    height: 80%;
    border-radius: 100%;
    background-color: white;
    transition: transform 0.5s;
}

.off{transform: translate(-60%, 0%);}
.on{transform: translate(60%, 0%);}

#trail{
    position: absolute;
    border-radius: 10px;
    width: 80%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.584);
}
