@font-face {
    font-family: seven-segment;
    src: url(seven-segment.ttf);
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button{
    cursor: pointer;
    transition: transform 0.1s;
}

.button:hover{
    background-color: rgb(247, 251, 255);
    transform: scale(1.1);
}

.orbitron-font{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.modes-container{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    width: 550px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modes{
    background-color: rgb(232, 244, 255);
    width: 175px;
    height: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.modes p{
    font-weight: 700;
}

.modes-icon{
    width: 20px;
    margin-right: 10px;
}

.main-container{
    background-color: rgb(232, 244, 255);
    width: 550px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
}

#display{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 90%;
    height: 40%;
    transition: height 0.3s;
}

#display-text{
    font-family: seven-segment;
    font-size: 100px;
    color: rgb(255, 0, 0);
    text-shadow: 0 0 10px rgb(142, 0, 0);
}

.stopwatch-buttons-container{
    background-color: rgb(165, 165, 165);
    border: 2px solid black;
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stopwatch-buttons{
    background-color: rgb(232, 244, 255);
    border: 2px solid black;
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-stop svg{
    width: 40px;
}

.stopwatch-icon{
    width: 50px;
}
