/**
 * @author Renan Silva (renans2 on GitHub)
 */

@font-face {
    font-family: seven-segment;
    src: url(seven-segment.ttf);
}

body{
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}


#display{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 90%;
    height: 40%;
    transition: height 0.3s;
}

#display-text, #display-text-background{
    font-family: seven-segment;
    font-size: 175px;
}

#display-text{
    z-index: 1;
    color: red;
    text-shadow: 0 0 10px rgb(142, 0, 0);
}

#display-text-background{
    position: absolute;
    z-index: 0;
    color: rgb(11, 11, 11);
}
