*{
    margin: 0;
    padding: 0;
    color: white;
    user-select: none;
}

body{
    background-color: black;
    min-width: 100vw;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
}

.words-container{
    margin-bottom: 30px;
}

.row{
    display: flex;
    justify-content: center;
}

.keyboard-row{
    display: flex;
    justify-content: center;
}

.letter:hover{
    cursor: not-allowed;
}

.key, .letter, #backspace{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
}

.letter{
    width: 70px;
    height: 70px;
    font-size: 50px;
    margin: 3px;
}

.key, #backspace{
    width: 60px;
    height: 60px;
    font-size: 40px;
    margin: 3px;
}

.key, .letter{
    transition: background-color 2.5s,
                transform 1.5s;
}

#backspace-icon{
    width: 40px;
    filter: invert(100%);
}

.key:hover, #backspace:hover{
    transform: scale(1.2);
}

/* .key-locked{
    transform: scale(0.8);
    color: white;
    background-color: brown;
} */

.green { background-color: green;  transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg); }
.yellow{ background-color: orange; transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg); }
.red   { background-color: brown;  transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg); }
