/**
 * @author Renan Silva (renans2 on GitHub)
 */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    user-select: none;
    background-color: #000000;
}

span{
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}

.message{
    width: fit-content;
    position: relative;
    background-color: #000000;
    padding: 10px;
    border-radius: 1000px;
}

.message::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 3px;
    background-image: linear-gradient(to bottom right, #6200ff, #b700ff);
    z-index: -1;
    border-radius: 1000px;
}

.gameover-container{
    display: flex;
}

#play-again-button{
    width: 125px;
    font-size: 20px;
    font-weight: bold;
    background-color: #00ff00;
    border-radius: 10px;
}

#play-again-button:hover{
    background-color: #a8ffa8;
    cursor: pointer;
}

.container{
    position: relative;
    display: grid;
    height: 80vh;
    aspect-ratio: 1/1;
}

.cell{
    position: relative;
    margin: 5%;
    perspective: 300px;
}

.back, .front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7%;
    background-image: linear-gradient(to bottom right, #6200ff, #b700ff);
}

.front:hover{
    /*transform: scale(1.1);*/
}

.found{
    cursor: not-allowed;
}

.found .back{
    background-image: linear-gradient(to bottom right, #d900ff, #002fff);
}

.back{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(-180deg);
}

.back img{
    width: 90%;
    filter: drop-shadow(2px 2px 1px rgba(255, 255, 255, 0.2))
            drop-shadow(-2px -2px 1px rgba(255, 255, 255, 0.2))
    drop-shadow(-2px 2px 1px rgba(255, 255, 255, 0.2))
    drop-shadow(2px -2px 1px rgba(255, 255, 255, 0.2));
}

.flip-front{
    transform: rotateX(180deg);
}

.flip-back{
    transform: rotateX(0deg);
}
