/**
 * @author Renan Silva (renans2 on GitHub)
 */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    user-select: none;
    background-color: #000000;
}

.container{
    position: relative;
    display: grid;
    height: 90vh;
    aspect-ratio: 1/1;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 90%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    z-index: 1;
    border-radius: 20px;
    border: 2px solid white;
}

.message{
    width: fit-content;
    position: relative;
    background-color: #000000;
    padding: 10px;
    border-radius: 1000px;
    color: white;
}

span{
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}

.message::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 3px;
    background-image: linear-gradient(to bottom right, #6200ff, #b700ff);
    z-index: -1;
    border-radius: 1000px;
}

.select-container{
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    margin-right: 10px;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
}

#select{
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
}

#start-button{
    background-color: black;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: relative;
    border-radius: 1000px;
    padding: 10px;
}

#start-button:after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 5px;
    background-image: linear-gradient(to bottom right, #00ff20, #eeff00);
    z-index: -1;
    border-radius: 1000px;
}

#start-button:hover{
    background-color: rgba(0, 0, 0, 0);
    text-shadow: 2px 2px 5px black;
}

.cell{
    position: relative;
    margin: 5%;
    perspective: 300px;
    /*transform-style: preserve-3d;*/
}

.back, .front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
    background-color: black;
}

.front::after, .back::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #ff0000, #b000ff);
    z-index: -1;
    border-radius: 10%;
    padding: 3px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    /*-webkit-mask-composite: destination-out;*/
}

.front{
    background-color: black;
}

.back{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(-180deg);

}

.back img{
    width: 75%;
}

.found{
    cursor: not-allowed;
}

.found .back::after{
    background-image: linear-gradient(to bottom right, #14ff00, #f8ff00);
}

.flip-front{
    transform: rotateX(180deg);
}

.flip-back{
    transform: rotateX(0deg);
}
