body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 500px;
    height: 500px;
    border: 2px solid rgb(255, 255, 255);
    background-color: black;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.button{
    position: relative;
    display: flex;
    border: 2px solid rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    margin: auto auto;
    cursor: pointer;
    font-size: 170px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    transition: background-color 0.2s, 
                transform 0.2s,
                box-shadow 0.2s;
}

#play-again-button{
    display: none;
    margin-top: 10px;
    color: white;
    width: 500px;
    border: 2px solid white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.5s, 
                color 0.5s, 
                transform 0.2s;
}

#play-again-button:hover{
    color: black;
    border-color: black;
    background-color: rgb(153, 255, 0);
    transform: scale(1.2);
}
