.container{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 500px;
    height: 500px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: black;
}

.button{
    display: flex;
    box-shadow: 0 0 6px white;
    text-shadow: 0 0 7px white;
    width: 150px;
    height: 150px;
    margin: auto auto;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    color: rgb(255, 255, 255);
}

#play-again-button{
    display: none;
    width: 500px;
    border: 2px solid black;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#play-again-button:hover{
    background-color: aqua;
}
