/**
 * @author Renan Silva (renans2 on GitHub)
 */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    user-select: none;
}

body{
    min-height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (orientation: portrait){
    .container{
        width: 100vw;
    }
}

@media screen and (orientation: landscape){
    .container{
        aspect-ratio: 9/16;
    }
}

.container{
    height: 100vh;
    border: 0.3rem solid white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    position: absolute;
    z-index: -1;
}

.score-container{
    color: white;
    font-size: 35px;
    margin-top: 10%;
    text-align: center;
}

.score{
    color: red;
}

.game-over{
    color: #00ff00;
}

#play-again-button{
    position: relative;
    margin-top: 10%;
    width: 70%;
    height: 10%;
    background-color: black;
    cursor: pointer;
    color: white;
    font-size: 25px;
    border: none;
}

#play-again-button:hover{
    transform: scale(1.1);
    font-size: 30px;
}

#play-again-button::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 5px;
    background-image: linear-gradient(
            to bottom right,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 10%,
            rgba(208, 222, 33, 1) 20%,
            rgba(79, 220, 74, 1) 30%,
            rgba(63, 218, 216, 1) 40%,
            rgba(47, 201, 226, 1) 50%,
            rgba(28, 127, 238, 1) 60%,
            rgba(95, 21, 242, 1) 70%,
            rgba(186, 12, 248, 1) 80%,
            rgba(251, 7, 217, 1) 90%,
            rgba(255, 0, 0, 1) 100%
    );
    z-index: -1;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
}
